
/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;

}

h1, p, h2 {
  margin: 0;
}

h1 {
  color: #0081A7;
  font-weight: bold;
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Corben', cursive; */
  /* font-family: 'Londrina Shadow', cursive; */
  font-family: 'Vollkorn', serif;
  /* color: #0081A7; */
}

h2 {
  color: #4f7985;
}

p {
  /* color: #00AF89; */
}


/* header */
header {
  background: #bdd7df;
}

header .container {
   width: 400px;
   margin: 0 auto;
   /* outline: 2px solid #00AFB9;  */
   padding: 32px 0;
   display: flex;
   align-items: center;
}

header .container div+div{
   margin-left: 32px;
}

header h1 {
  /* font-weight: bold; */
  font-size: 32px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li+ li {
  margin-left: 8px;
}

header .icon {
  border-radius: 50%;
}

/* main */

main .container{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  /* outline: 2px solid red; */
}

main h1 {
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
  /* margin: 60px 0; */
}


main h2{
  font-size: 18px;
  /* font-weight: normal; */
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}

a {
  text-decoration: none;
  color:inherit;
}

.btn {
background: #0081A7;
color: #fff;
display: block;
width: 160px;
text-align: center;
padding: 8px 0;
border-radius: 4px;
font-weight: bold;
margin: 16px 0;


}
/* .imgillust {
  width: 50%;
  height: 50%;
  margin-left: ;
  margin-right: ;
} */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}